* {
  margin: 0;
  padding: 0;
}
header, nav, section, article, aside, footer {
  display: block;
}
body {
  font: 16px/22px Arial, Tahoma, Verdana, sans-serif;
  width: 100%;
  background: #CCC;
}
a {
  color: blue;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 18px
}
img {
  border: none;
}

/* Header
-----------------------------------------------------------------------------*/
header {
  background: #002b36;
}

.title {
  font-size: 22px;
  font-weight: 100;
  color: #a57800;
  padding-bottom: 20px;
}

header .address {
  color: #a57800;
}

header .nav {
  decoration: none;
}

header a {color: #0088cc !important;}
header a:hover {color: #999 !important;}
header .active {color: #a57800 !important;}


.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}


.wrapBlockHeader {
  padding: 20px;
}

.wrapBlockLeft {
  padding-left: 20px;
}


.menuHeader {
  display: flex;
  align-items: flex-end;
}



/* Middle
-----------------------------------------------------------------------------*/
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-start;
  background-color: #fff;
}

.contentExhibition {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  align-items: center;
}

.contentArtists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #fff;
}


.wrapBlock {
  padding: 20px;
}
.maxWidth40 {
  max-width: 40%;
  min-width: 330px;
}

.TextWrap {
  clear: both;
  float: right;
  margin: 10px;
}

.TextWrapLeft {
  clear: both;
  float: left;
  margin: 10px 10px 10px 0px;
}

.clear {
  clear: both;
}

.imageWithBorder {
  padding-right: 10px;
  max-height: 375px;
}


.headerDetailLink {
  color: #999 !important;
  text-decoration: underline;
}
.headerDetailLink:hover {
  color: #a57800 !important;
  text-decoration: underline;
}

/* Footer
-----------------------------------------------------------------------------*/

.exhibitionListItem {
  max-width: 600px;
}

.artistListItem {
  max-height: 375px;
}

.artistListItemText {
  max-width: 375px;
}

.exhibitionListItem address {
  padding: 10px;
  color: #999;
}

.exhibitionListItem ul {
  list-style: none;
}


footer a {color: #0088cc !important;}
footer a:hover {color: #555 !important;}
footer .active {color: #a57800 !important;}