* {
  margin: 0;
  padding: 0;
}
header, nav, section, article, aside, footer {
  display: block;
}
body {
  font: 16px/22px Arial, Tahoma, Verdana, sans-serif;
  width: 100%;
  background: #CCC;
}
a {
  color: blue;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 18px
}
img {
  border: none;
}


dd {
  font-style: italic;
  margin-left: 1em;
}
dt {
  margin-top: 1em;
}


/* Header
-----------------------------------------------------------------------------*/
header {
  background: #002b36;
}

.title {
  font-size: 22px;
  font-weight: 100;
  color: #a57800;
  padding-bottom: 20px;
}

header .address {
  color: #a57800;
}

header .nav {
  decoration: none;
}

header a {color: #0088cc !important;}
header a:hover {color: #999 !important;}
header .active {color: #a57800 !important;}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.wrapBlockHeader {
  padding: 20px;
  max-width: 80%;
}


.wrapBlockHeaderMenu {
  padding: 10px;
  max-width: 80%;
}


.wrapBlockLeft {
  padding-left: 20px;
}


.menuHeader {
  display: flex;
  align-items: flex-end;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-start;
  background-color: #fff;
}

.contentExhibition {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  align-items: center;
}

.contentArtists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #fff;
}

.contentPlaces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  flex-wrap: wrap;
  align-items: center;
}

.wrapBlock {
  padding: 20px;
}

.maxWidth40 {
  max-width: 40%;
}

@media only screen and (max-width: 640px) {
  .wrapBlock {
    max-width: 80%;
  }
  .maxWidth40 {
    max-width: 80%;
  }
}

.TextWrap {
  clear: both;
  float: right;
  margin: 10px;
}

.TextWrapLeft {
  clear: both;
  float: left;
  margin: 10px 10px 10px 0px;
}

.clear {
  clear: both;
}

.imageWithBorder {
  padding-right: 10px;
  max-height: 375px;
}

.imageWithBorderMazaika {
  max-height: 160px;
}

.mozaikaItemFlex {
  margin-right: 5px;
  margin-bottom: 5px;
}


@media only screen and (max-width: 640px) {
  .imageWithBorder {
    max-height: 280px;
    max-width: 280px;
  }
}

.headerDetailLink {
  color: #a57800 !important;
  text-decoration: underline;
}
.headerDetailLink:hover {
  color: #a57800 !important;
  text-decoration: underline;
}

/* Footer
-----------------------------------------------------------------------------*/

.exhibitionListItem {
  max-width: 600px;
}

.exhibitionListItem address {
  padding: 10px;
  color: #999;
}

.exhibitionListItem ul {
  list-style: none;
}


.placeListItem {
  max-width: 330px;
}


@media only screen and (max-width: 640px) {
  .exhibitionListItem {
    max-width: 300px;
  }
}


.mozaikaFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #fff;
  max-width: 375px;
}



.artistListItem {
  max-height: 375px;
}

.artistListItemText {
  max-width: 375px;
}

@media only screen and (max-width: 640px) {
  .artistListItemText {
    max-width: 300px;
  }

  .imageWithBorderMazaika {
    max-width: 120px;
  }
}


@media only screen and (max-width: 640px) {
  .wrapBlock {
    padding: 20px;
  }

  .contentArtists {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .contentExhibition {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}



footer a {color: #0088cc !important;}
footer a:hover {color: #555 !important;}
footer .active {color: #a57800 !important;}

/* 404 page */
.content404 {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content404 .item {
}

.content404 h1 {
  font-weight: 100;
  padding-bottom: 10px;
}